{% load static %}
<html>
    <head>
        <meta charset="utf-8" />
        <title>CYBERWAR2020</title>
        <link rel="stylesheet" href="{% static 'css/background.css' %}">
    </head>

    <body>
      <header>

        <p>
          {% csrf_token %}
          #{{request.session.idPlayer}} {{request.session.name}} {{request.session.firstName}}
        </p>
      </header>

      <h1> Parties en cours </h1>
        <a href="/game/toactifp">Fictive game: actif player</a>
      <h1> Creer une partie </h1>


    <form action="{% url 'login:index' %}" method="post">
      {% csrf_token %}
      <p>
      <input type="submit" value="Déconnexion" />
      </p>
    </form>

    </body>

</html>
