{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>CYBERWAR2020</title>
        <link rel="stylesheet" href="{% static 'css/background.css' %}">
        <link rel="stylesheet" href="{% static 'game/css/ActifPlayer.css' %}">
    </head>

    <body>
      {% include 'saloon/header.html' %}
      <h1>Tour de jeu:</h1>
      <form action ="{% url 'game:processactif' %}" method="post">
      {% csrf_token %}
        <h2>1. Pioche</h2>
          <h3>Carte choisie</h3>
            {% include 'game/ChoiceCard.html' with phase="CC" %}

          <h3>Carte défaussée</h3>
            {% include 'game/ChoiceCard.html' with phase="CD" %}

          <h3>Carte remise</h3>

            {% include 'game/ChoiceCard.html' with phase="CR" %}

        <h2>2. Cartes posées</h2>

          {% include 'game/ChoiceCard.html' with phase="CP"%}

        <h2>3. Nouveau "Centre de développement"?</h2>
          <input type="radio" name="CD" value="oui" id="ouiCD" /> <label for="ouiCD">oui</label><br />
          <input type="radio" name="CD" value="non" id="nonCD" /> <label for="nonCD">non</label><br />

        <div class="submit">
          <input type="submit" value="Passez au tour suivant!">
        </div>
      </form>

    </body>
</html>
