
.centres{
  height: 200px;
  width: 200px;
}

.centerIn{
  margin-bottom: 15px
}

label{
  display: inline-block;
  float: left;
  clear: left;
  width: 50%;
  text-align: left;
}

input {
  display: inline-block;
}
